<form [formGroup]="contactInfoForm">
    <div fxLayout="column" fxLayoutAlign="space-around">
        <mat-form-field appearance="outline">
            <mat-label>  {{ 'contactInformation.address' | translate }} </mat-label>
            <input matInput formControlName="address" maxlength="100">
            <mat-error *ngIf="contactInfoForm.controls['address'].errors?.['required']">
                {{ 'error.fieldRequired' | translate }}
            </mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around">
        <mat-form-field appearance="outline">
            <mat-label> {{ 'contactInformation.email' | translate }} </mat-label>
            <input matInput formControlName="email" placeholder="example@email.com" maxlength="50">
            <mat-error *ngIf="contactInfoForm.controls['email'].errors?.['required']">
                {{ 'error.fieldRequired' | translate }}
            </mat-error>
            <mat-error *ngIf="contactInfoForm.controls['email'].errors?.['email']">
                {{ 'error.invalidEmail' | translate }}
            </mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around">
        <mat-form-field appearance="outline">
            <mat-label> {{ 'contactInformation.cellPhone' | translate }} </mat-label>
            <input matInput formControlName="cellphone" maxlength="18" mask="(+00) 000 000 0000"
                placeholder="(+01) 123 456 7890">
            <mat-hint> {{ 'hints.cellPhoneFormat' | translate }} </mat-hint>
            <mat-error *ngIf="contactInfoForm.controls['cellphone'].errors?.['required']">
                {{ 'error.fieldRequired' | translate }}
            </mat-error>
            <mat-error *ngIf="contactInfoForm.controls['cellphone'].errors?.['mask']
                || contactInfoForm.controls['cellphone'].errors?.['pattern']">
                {{ 'error.invalidCellPhone' | translate }}
            </mat-error>
        </mat-form-field>
    </div>
</form>