<div class="container" fxLayout="column" fxLayoutAlign="space-around">
    <mat-card class="container__card">
        <mat-card-content>
            <form [formGroup]="paymentGatewayForm" (ngSubmit)="sendPayment()">
                <mat-stepper class="container__card__steeper" id="paymentStepper" orientation="vertical" [linear]="isLinear"
                    #paymentStepper>
                    <mat-step [stepControl]="personalInfoForm" style="color: blueviolet;">
                        <ng-template matStepLabel>{{ 'personalInformation.title' | translate}}</ng-template>
                        <app-personal-information [personalInfoForm]="personalInfoForm" fxLayout="column"
                            fxLayoutAlign="space-around strech" />
                        <div fxLayout="column" fxLayoutAlign="space-around strech" fxFlex>
                            <button mat-fab extended class="container__card__steeper__button"
                                matStepperNext type="button">
                                <mat-icon fontIcon="navigate_next" /> 
                                {{ 'button.next' | translate }}
                            </button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="contactInfoForm">
                        <ng-template matStepLabel> {{ 'contactInformation.title' | translate }}</ng-template>
                        <app-contact-information [contactInfoForm]="contactInfoForm" />
                        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="space-around strech" fxFlex="48">
                                <button mat-fab extended class="container__card__steeper__button--back"
                                    matStepperPrevious type="button">
                                    <mat-icon fontIcon="navigate_before" />
                                    {{ 'button.back' | translate }}
                                </button>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="space-around strech" fxFlex="48">
                                <button mat-fab extended class="container__card__steeper__button"
                                    matStepperNext type="button">
                                    <mat-icon fontIcon="navigate_next" style="float: right;"/>
                                    {{ 'button.next' | translate }}
                                </button>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="paymentInfoForm">
                        <ng-template matStepLabel>{{ 'paymentInformation.title' | translate }}</ng-template>
                        <app-payment-information [paymentInfoForm]="paymentInfoForm" />
                        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="space-around strech" fxFlex="48">
                                <button mat-fab extended class="container__card__steeper__button--back"
                                    matStepperPrevious type="button">
                                    <mat-icon fontIcon="navigate_before" />
                                    {{ 'button.back' | translate }}
                                </button>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="space-around strech" fxFlex="48">
                                <button mat-fab extended class="container__card__steeper__button"
                                    (click)="paymentStepper.reset()" type="submit" [disabled]="paymentGatewayForm.invalid">
                                    <mat-icon fontIcon="send" />
                                    {{ 'button.send' | translate }}
                                </button>
                            </div>
                        </div>
                    </mat-step>
                </mat-stepper>
            </form>
        </mat-card-content>
    </mat-card>
</div>