.container
    align-items: center
    padding: 2em

    &__card
        background-color: #edf5f3
        margin-top: 2rem

        &__steeper
            background-color: #edf5f3

            ::ng-deep .mat-step-header .mat-step-icon-state-number
                background-color: #dcebe8
                color: #006a61
                font-size: small

            ::ng-deep .mat-step-header .mat-step-icon-selected,
            ::ng-deep .mat-step-header .mat-step-icon-state-done,
            ::ng-deep .mat-step-header .mat-step-icon-state-edit
                background-color: #006a61
                color: #fff
                font-size: medium

            &__button
                background-color: #006a61
                margin-top: 2em

                &:disabled
                    background-color: #b8bbba

                &--back
                    background-color: dimgray
                    margin-top: 2em

                &--next
                    background-color: #006a61
                    display: inline-block
                    border-radius: 2em
                    border: none
                    color: #FFFFFF
                    text-align: center
                    padding: 14px
                    transition: all 0.5s
                    cursor: pointer
                    margin-top: 2em

                    &:hover
                        -webkit-box-shadow: 6px 5px 10px #666666
                        -moz-box-shadow: 6px 5px 10px #666666
                        box-shadow: 6px 5px 10px #666666
                        cursor: pointer
                        background-color: #01756c

                &__span
                    display: inline-block
                    position: relative
                    margin-right: 15px
                    margin-top: 4px

                &__icon
                    display: inline-block
                    position: fixed
                    margin-bottom: 2px
