.container
    align-items: center
    padding: 2em
    
    &__card
        background-color: #edf5f3
        margin-top: 2rem

        &__steeper
            background-color: #edf5f3

            &__button
                background-color: #006a61
                margin-top: 2em

                &--back
                    background-color: dimgray
                    margin-top: 2em 