<div fxLayout="row" fxLayoutAlign="space-around">
    <div class="container" fxLayout="column" fxLayoutAlign="space-around" fxFlex.gt-lg="60" fxFlex.gt-md="60"
        fxFlex.gt-sm="60">
        <mat-card class="container__card">
            <mat-card-content>
                <form [formGroup]="paymentGatewayForm" (ngSubmit)="sendPayment()">
                    <mat-stepper class="container__card__steeper" id="paymentStepper"
                        [orientation]="(stepperOrientation | async)!" [linear]="true" #paymentStepper>
                        <mat-step [stepControl]="personalInfoForm">
                            <ng-template matStepLabel>{{ 'personalInformation.title' | translate}}</ng-template>
                            <app-personal-information [personalInfoForm]="personalInfoForm" fxLayout="column"
                                fxLayoutAlign="space-around strech" />
                            <div fxLayout="column" fxLayoutAlign="space-around strech" fxFlex>
                                <button class="container__card__steeper__button--next" matStepperNext type="button">
                                    <span class="container__card__steeper__button__span">
                                        {{ 'button.next' | translate }}
                                    </span>
                                    <mat-icon fontIcon="navigate_next" class="container__card__steeper__button__icon" />
                                </button>
                            </div>
                        </mat-step>
                        <mat-step [stepControl]="contactInfoForm">
                            <ng-template matStepLabel> {{ 'contactInformation.title' | translate }}</ng-template>
                            <app-contact-information [contactInfoForm]="contactInfoForm" />
                            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                <div fxLayout="column" fxLayoutAlign="space-around strech" fxFlex="48">
                                    <button mat-fab extended class="container__card__steeper__button--back"
                                        matStepperPrevious type="button">
                                        <mat-icon fontIcon="navigate_before" />
                                        {{ 'button.back' | translate }}
                                    </button>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="space-around strech" fxFlex="48">
                                    <button class="container__card__steeper__button--next" matStepperNext type="button">
                                        <span class="container__card__steeper__button__span">
                                            {{ 'button.next' | translate }}
                                        </span>
                                        <mat-icon fontIcon="navigate_next" class="container__card__steeper__button__icon" />
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step [stepControl]="paymentInfoForm">
                            <ng-template matStepLabel>{{ 'paymentInformation.title' | translate }}</ng-template>
                            <app-payment-information [paymentInfoForm]="paymentInfoForm" />
                            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                <div fxLayout="column" fxLayoutAlign="space-around strech" fxFlex="48">
                                    <button mat-fab extended class="container__card__steeper__button--back"
                                        matStepperPrevious type="button">
                                        <mat-icon fontIcon="navigate_before" />
                                        {{ 'button.back' | translate }}
                                    </button>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="space-around strech" fxFlex="48">
                                    <button mat-fab extended class="container__card__steeper__button"
                                        (click)="paymentStepper.reset()" type="submit"
                                        [disabled]="paymentGatewayForm.invalid">
                                        <mat-icon fontIcon="send" />
                                        {{ 'button.send' | translate }}
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                    </mat-stepper>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>