<div class="container" fxLayout="column" fxLayoutAlign.gt-lg="space-around strech">
    <mat-card class="container__card">
        <mat-card-content>
            <mat-stepper class="container__card__steeper" id="steeper" orientation="vertical" [linear]="isLinear"
                #paymentStepper>
                <mat-step [stepControl]="personalInfoForm">
                    <ng-template matStepLabel>Personal Information</ng-template>
                    <app-personal-information [personalInfoForm]="personalInfoForm" fxLayout="column"
                        fxLayoutAlign="space-around strech" />
                    <div fxLayout="column" fxLayoutAlign="space-around strech">
                        <button mat-fab extended class="container__card__steeper__button" matStepperNext
                            (click)="print()">Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                        <ng-template matStepLabel>Contact Information</ng-template>
                        <app-contact-information [contactInfoForm]="contactInfoForm"/>
                        <div fxLayout="row" fxLayoutAlign="space-around center">
                            <div fxLayout="column" fxLayoutAlign="space-around strech">
                                <button mat-fab extended class="container__card__steeper__button--back"
                                    matStepperPrevious>Back</button>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="space-around strech">
                                <button mat-fab extended class="container__card__steeper__button"
                                    matStepperNext (click)="print()">Next</button>
                            </div>
                        </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Payment</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="paymentStepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-stepper>
        </mat-card-content>
    </mat-card>
</div>