<form [formGroup]="personalInfoForm">
    <div fxLayout="column" fxLayoutAlign="space-around strech">
        <mat-form-field appearance="outline">
            <mat-label> {{ 'personalInformation.dateOfBirth' | translate }} </mat-label>
            <input matInput formControlName="birth" maxlength="10" mask="00/00/0000" [dropSpecialCharacters]="false"
                placeholder="{{ 'hint.formatdate_MM_DD_YYYY' | translate }}">
            <mat-hint> {{ 'hint.formatdate_MM_DD_YYYY' | translate }} </mat-hint>
            <mat-error *ngIf="personalInfoForm.controls['birth'].errors?.['required']">
                {{ 'error.fieldRequired' | translate }}
            </mat-error>
            <mat-error *ngIf="personalInfoForm.controls['birth'].errors?.['pattern']">
                {{ 'error.invalidBirthDate' | translate }}
            </mat-error>
            <mat-error *ngIf="personalInfoForm.controls['birth'].errors?.['maxDate']">
                {{ 'error.invalidMaxBirthDate' | translate }}
            </mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around strech">
        <mat-form-field appearance="outline">
            <mat-label> {{ 'personalInformation.gender' | translate }} </mat-label>
            <mat-select formControlName="gender">
                <mat-option value="one"> {{ 'personalInformation.female' | translate }} </mat-option>
                <mat-option value="two"> {{ 'personalInformation.male' | translate }} </mat-option>
            </mat-select>
            <mat-error *ngIf="personalInfoForm.controls['gender'].errors?.['required']">
                {{ 'error.fieldRequired' | translate }}
            </mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around strech">
        <mat-form-field appearance="outline">
            <mat-label> {{ 'personalInformation.idNumber' | translate }} </mat-label>
            <input matInput formControlName="idNumber" maxlength="15">
            <mat-error *ngIf="personalInfoForm.controls['idNumber'].errors?.['required']">
                {{ 'error.fieldRequired' | translate }}
            </mat-error>
        </mat-form-field>
    </div>
</form>