<form [formGroup]="personalInfoForm">
    <div fxLayout="column" fxLayoutAlign="space-around strech">
        <mat-form-field appearance="outline">
            <mat-label> {{ 'personalInformation.dateOfBirth' | translate }} </mat-label>
            <input matInput [matDatepicker]="birthPicker" formControlName="birth" maxlength="10">
            <mat-error *ngIf="personalInfoForm.controls['birth'].errors?.['required']">
                {{ 'error.fieldRequired' | translate }}
            </mat-error>
            <mat-hint> {{ 'hints.formatdate_MM_DD_YYYY' | translate }} </mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="birthPicker"></mat-datepicker-toggle>
            <mat-datepicker #birthPicker></mat-datepicker>
        </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around strech">
        <mat-form-field appearance="outline">
            <mat-label> {{ 'personalInformation.gender' | translate }} </mat-label>
            <mat-select formControlName="gender">
                <mat-option value="one"> {{ 'personalInformation.female' | translate }} </mat-option>
                <mat-option value="two"> {{ 'personalInformation.male' | translate }} </mat-option>
            </mat-select>
            <mat-error *ngIf="personalInfoForm.controls['gender'].errors?.['required']">
                {{ 'error.fieldRequired' | translate }}
            </mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around strech">
        <mat-form-field appearance="outline">
            <mat-label> {{ 'personalInformation.idNumber' | translate }} </mat-label>
            <input matInput formControlName="idNumber" maxlength="15">
            <mat-error *ngIf="personalInfoForm.controls['idNumber'].errors?.['required']">
                {{ 'error.fieldRequired' | translate }}
            </mat-error>
        </mat-form-field>
    </div>
</form>